/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*define custom variables*/
:root {
    --col01: #2f3e34;  /* background */
    --col02: #1f2a24;  /* text */
    --col03: #f8f6f2;  /* soft green */
    --col04: #8fa99a;  /* border */
    --col05: #6f8f7a;  /* main green */
    --col06: #4f6d5d;  /* active */
    --col07: #2c3e34;  /* strong text */
    --border: solid 2px var(--col04);
}

body {
    font-family: "Work Sans", serif;
    background-color: var(--col04);
    color: var(--col03);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 2rem;
    max-width: 1280px;
    padding: 0 3rem;
    margin: 0 auto;
    line-height: 1.5;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}

/*intro modal dialog*/
dialog[open] {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}