* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

body,
html {
    margin: 0;
    padding: 0;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    background: #6f8f7a; /* ← change color of track */
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #f8f6f2; /* ← change color of dot */
    border-radius: 50%;
    cursor: pointer;
}